@charset "ISO-8859-1";

.tableWrapper {
	width: 80vw; 
	height:100%;
	margin:auto;
}

table {
	width: 100%;
	text-align: center; 
	
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	
}

th:nth-child(1) {
	width: 20%;
	
}

th:nth-child(2) {
	width: 50%;
	
}

th:nth-child(3) {
	width: 10%;
	
}

th:nth-child(4) {
	width: 20%;
	
}
.date-filter-container{
	display:flex;
	justify-content: center;
	gap:15px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.search-container{
	display:flex;
	justify-content: center;
	margin-bottom: 10px;
}
.pagination{
	margin-top:8px;
	display:flex;
	justify-content: center;
	gap:5px;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .5s;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.pagination a.active {
  background-color: #6f6a6a;
  color: white;
  border: 1px solid #676767;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.search-bar{
	width: 60%;
}




